{% extends 'master.html' %} {% block title %} Add Release - MusicReview
{%endblock %} {% block content %}
<h1>Add release</h1>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} {% for field in releaseForm %}
  <div class="form-group">
    <label style="width: 200px; text-align: right">{{field.label}}</label>
    {{field}}
  </div>
  {% endfor %}
  <div>
    <input class="btn btn-dark" type="submit" value="Submit" />
    <div class="float-right">
      <a href="{% url 'add_artist' %}" class="btn btn-dark">Add Artist</a>
    </div>
  </div>
</form>

{% endblock %}
