{% extends 'master.html' %} {% block title %}Artist - MusicReview{% endblock %}
{% block content %}
<div class="d-flex">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-dark rounded"
    style="width: 300px"
  >
    <img src="{{ artist.artist_photo.url }}" alt="{{ artist.name }}" />

    <div class="mt-3">
      <h5>{{ artist.name }}</h5>
    </div>
  </div>

  <div class="p-3 bg-dark rounded ml-4">
    {% if reportArtistForm is None %}
    <div class="float-right">
      <a href="{% url 'report_artist' artist.pk %}" class="btn btn-danger"
        >Report artist</a
      >
    </div>
    {% else %}
    <form method="POST">
      {% csrf_token %} {% for field in reportArtistForm %}
      <p>{{ field }}</p>
      {%endfor %}
      <input class="btn btn-danger mb-4" type="submit" value="Submit report" />
    </form>
    {% endif %}
    <div class="row">
      {% for row in releases %} {% for release in row %}
      <div class="col-md-4">
        <div class="card mb-4">
          <a href="{% url 'release' release.pk %}">
            <img
              src="{{ release.cover_art.url }}"
              alt="{{ release.title }}"
              class="card-img-top"
            />
          </a>
          <div class="card-body">
            <div class="d-inline-block">
              <h5 class="card-title text-dark">{{ release.title }}</h5>
              <h5 class="card-title text-dark">{{ release.str_score }}</h5>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
