{% extends 'master.html' %} {% block title %} Browse Releases - MusicReview
{%endblock %} {% block content %}
<div class="container">
  <h1>Browse Artists</h1>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="d-inline-block">{{ sortForm.as_p }}</div>
      <button type="submit" class="btn btn-dark">Sort</button>
    </div>
  </form>
  <a href="{% url 'add_artist' %}" class="btn btn-dark mb-3">Add Artist</a>
  <div class="row">
    {% for row in artists %} {% for artist in row %}
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="{% url 'artist' artist.pk %}">
          <img
            src="{{ artist.artist_photo.url }}"
            alt="{{ artist.name }}"
            class="card-img-top"
          />
        </a>
        <div class="card-body">
          <div class="d-inline-block">
            <h5 class="card-title text-dark">{{ artist.name }}</h5>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% endfor %}
  </div>
</div>
{% endblock %}
