{% extends 'master.html' %} {% block title %} Release - MusicReview {%endblock%}
{% block content %}
<div class="d-flex">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-dark rounded"
    style="width: 300px"
  >
    <img src="{{ release.cover_art.url}}" />

    <table class="table table-striped">
      {% for song in songLengths %}
      <tr>
        <td>{{song.0}}</td>
        <td>{{song.1}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="flex-grow-1 ml-4">
    <h1>{{release.title}}</h1>
    <table class="table" style="width: 50%">
      <tr>
        <td>Artists</td>
        <td style="text-align: right">{{artists}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td style="text-align: right">{{release.release_type}}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
