{% extends 'master.html' %} {% block title %} Release - MusicReview {%endblock%}
{% block content %}
<div class="d-flex">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-dark rounded"
    style="width: 300px"
  >
    <img src="{{ release.cover_art.url}}" />

    <table class="table table-striped">
      {% for song in songLengths %}
      <tr>
        <td>{{song.0}}</td>
        <td>{{song.1}}</td>
      </tr>
      {% endfor %}
    </table>
    {% if trackForm is None %}
    <a class="text-center" href="{% url 'release_add_track' pk=release.pk %}"
      >Missing tracks?</a
    >
    {% else %}
    <form method="POST">
      {% csrf_token %} {% for field in trackForm %}
      <div class="form-group">
        <label>{{field.label}}</label>
        {{field}}
      </div>
      {% endfor %}
      <input class="btn btn-dark" type="submit" value="Submit" />
      {% endif %}
    </form>
  </div>

  <div class="flex-grow-1 ml-4">
    <h1>{{release.title}}</h1>
    <table class="table">
      <tr>
        <td>Artists</td>
        <td style="text-align: right">{{artists}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td style="text-align: right">{{release.release_type}}</td>
      </tr>
      <tr>
        <td>Genres</td>
        <td style="text-align: right">{{genres}}</td>
      </tr>
      <tr>
        <td>Rating</td>
        <td style="text-align: right">{{release.str_score}}</td>
      </tr>
      <tr>
        <td>Explicit content</td>
        <td style="text-align: right">
          {% if release.is_explicit %} Yes {% else %} No {% endif %}
        </td>
      </tr>
    </table>

    {% if reviewForm is None %} {% else %}
    <h3>{{reviews|length}} Reviews</h3>

    <form action="{% url 'release' pk=release.pk %}" method="post" class="form">
      {% csrf_token %} {% for field in reviewForm %}
      <div class="form-group">{{field}}</div>
      {% endfor %}
      <input class="btn btn-dark mb-4" type="submit" value="Submit" />
    </form>
    {% endif %} {% for review in reviews %}
    <div class="p-3 bg-dark rounded mb-2">
      <div style="display: flex; justify-content: space-between">
        <b>{{ review.user.username }}</b>
        <p style="margin-left: auto">{{ review.score }}/10</p>
      </div>
      <p>{{review.content}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
