{% extends "master.html" %} 
{% block title %}
Accent Colors - MusicReview
{% endblock %}

{% block content %}
<h1>Accent colors</h1>

<p>
    Accent Color 1: <input id="accentColor1" type="color"/>
    Accent Color 2: <input id="accentColor2" type="color"/>
    Accent Color 3: <input id="accentColor3" type="color"/>
    Accent Color 4: <input id="accentColor4" type="color"/>
</p>

<form enctype="multipart/form-data" action = "{%url 'accent-colors-test' %}"" method="post">{% csrf_token %}
    {{ imageForm.as_p }}
    <input class="btn btn-dark" type="submit" value="Submit" />
</form>


<script type="text/javascript">
    let accentColor1;
    let accentColor2;
    let accentColor3;
    let accentColor4;

    let bgContainer = document.querySelector('.background-container');

    window.addEventListener("load", start, false);

    function start() {
        accentColor1 = document.querySelector("#accentColor1")
        accentColor2 = document.querySelector("#accentColor2")
        accentColor3 = document.querySelector("#accentColor3")
        accentColor4 = document.querySelector("#accentColor4")

        accentColor1.value = bgContainer.style.getPropertyValue('--AccentColor1');
        accentColor2.value = bgContainer.style.getPropertyValue('--AccentColor2');
        accentColor3.value = bgContainer.style.getPropertyValue('--AccentColor3');
        accentColor4.value = bgContainer.style.getPropertyValue('--AccentColor4');

        accentColor1.addEventListener("input", update, false);
        accentColor2.addEventListener("input", update, false);
        accentColor3.addEventListener("input", update, false);
        accentColor4.addEventListener("input", update, false);
    }

    function update() {
        bgContainer.style.setProperty('--AccentColor1', accentColor1.value)
        bgContainer.style.setProperty('--AccentColor2', accentColor2.value)
        bgContainer.style.setProperty('--AccentColor3', accentColor3.value)
        bgContainer.style.setProperty('--AccentColor4', accentColor4.value)
    }
</script>
{% endblock %}

